src/main/resources/MyCareNet-GenericInsurability_v1_1/ehealth-mycarenet-genins/WSDL/ehealth-generic-proxy-v1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:err="urn:be:fgov:ehealth:errors:soa:v1"
			 xmlns:genins="urn:be:fgov:ehealth:genericinsurability:protocol:v1"
			 xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 name="GenericInsurabilityWebservice"
			 targetNamespace="urn:be:fgov:ehealth:genericinsurability:protocol:v1">
	<documentation>Version 1.1</documentation>
	<types>
		<xsd:schema>
			<xsd:import namespace="urn:be:fgov:ehealth:genericinsurability:protocol:v1" schemaLocation="../XSD/ehealth-genins-protocol-1_1.xsd"/>
			<xsd:import namespace="urn:be:fgov:ehealth:errors:soa:v1" schemaLocation="../../ehealth-errors/XSD/ehealth-errors-schema-soa-1_1.xsd"/>
		</xsd:schema>
	</types>
	<message name="GetInsurabilityRequest">
		<part element="genins:GetInsurabilityRequest" name="body"/>
	</message>
	<message name="GetInsurabilityResponse">
		<part element="genins:GetInsurabilityResponse" name="body"/>
	</message>
	<message name="GetInsurabilityAsFlatRequest">
		<part element="genins:GetInsurabilityAsFlatRequest" name="body"/>
	</message>
	<message name="GetInsurabilityAsFlatResponse">
		<part element="genins:GetInsurabilityAsFlatResponse" name="body"/>
	</message>
	<message name="SystemError">
		<part element="err:SystemError" name="fault"/>
	</message>
	<portType name="GenericInsurabilityPortType">
		<operation name="getInsurability">
			<input message="genins:GetInsurabilityRequest"/>
			<output message="genins:GetInsurabilityResponse"/>
			<fault message="genins:SystemError" name="SystemError"/>
		</operation>
		<operation name="getInsurabilityAsFlat">
			<input message="genins:GetInsurabilityAsFlatRequest"/>
			<output message="genins:GetInsurabilityAsFlatResponse"/>
			<fault message="genins:SystemError" name="SystemError"/>
		</operation>
	</portType>
	<binding name="GenericInsurabilitySoapBinding" type="genins:GenericInsurabilityPortType">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getInsurability">
			<soap11:operation soapAction="urn:be:fgov:ehealth:genericinsurability:protocol:v1:GetInsurability" style="document"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
			<fault name="SystemError">
				<soap11:fault name="SystemError" use="literal"/>
			</fault>
		</operation>
		<operation name="getInsurabilityAsFlat">
			<soap11:operation soapAction="urn:be:fgov:ehealth:genericinsurability:protocol:v1:GetInsurabilityAsFlat" style="document"/>
			<input>
				<soap11:body use="literal"/>
			</input>
			<output>
				<soap11:body use="literal"/>
			</output>
			<fault name="SystemError">
				<soap11:fault name="SystemError" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="GenericInsurabilityService">
		<port binding="genins:GenericInsurabilitySoapBinding" name="GenericInsurabilityServiceSOAP11">
			<soap11:address location="https://services.ehealth.fgov.be/GenericInsurability/v1"/>
		</port>
	</service>
</definitions>
